@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #8C11BE;
}
.icon path {
  stroke: #fff; 
}
::-webkit-input-placeholder{ color: #000000; }
::-moz-placeholder { color: #000000; }
:-ms-input-placeholder { color: #000000; }